<!-- @if (bundle) {
<div class="flex flex-col-reverse md:flex-row items-start">

  <div class="w-full md:w-1/2 flex flex-col gap-4 p-6">
    <div class="flex gap-4 flex-wrap">
      <div class="badge badge-info">Bundle</div>
    </div>

    <h1 class="text-3xl">
      <strong>{{bundle.name}}</strong>
    </h1>

    <p>{{bundle.description}}</p>

    <div class="divider"></div>

    @if (bundle.discount_percent) {
    <div class="flex items-baseline gap-2">
      <h3 class="text-sm primary text-error line-through">
        {{ bundleTotalPrice | currency:'USD':'symbol':'1.2-2':'en-US' }}
      </h3>

      <h3 class="text-xl font-semibold text-primary">
        {{ discountedPrice | currency:'USD':'symbol':'1.2-2':'en-US' }}
      </h3>
    </div>
    } @else {
    <h3 class="text-xl font-semibold text-primary">
      {{ bundleTotalPrice | currency:'USD':'symbol':'1.2-2':'en-US' }}
    </h3>
    }

    <div class="flex gap-4">
      @if (!subscriptionId) {
      <button class="btn btn-secondary" (click)="openSubscribeModal()">
        Subscribe
      </button>
      } @else {
      <button class="btn btn-error" (click)="unsubscribe()">Unsubscribe</button>
      }
    </div>

    <dialog #subscribeModal class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold mb-4">Subscribe to Bundle</h3>
        <form class="flex flex-col gap-3" (ngSubmit)="confirmSubscription()">
          <select
            class="select select-bordered"
            [(ngModel)]="selectedAddressId"
            name="addressId"
            required
          >
            <option disabled selected value="">Select Address</option>
            @for (a of addresses; track a.id) {
            <option [value]="a.id">{{ a.line_1 }} - {{ a.city }}</option>
            }
          </select>

          <select
            class="select select-bordered"
            [(ngModel)]="selectedPaymentMethodId"
            name="paymentMethodId"
            required
          >
            <option disabled selected value="">Select Payment Method</option>
            @for (p of paymentMethods; track p.id) {
            <option [value]="p.id">
              {{ p.card_brand }} •••• {{ p.card_last4 }}
            </option>
            }
          </select>

          <input
            type="number"
            min="1"
            max="31"
            class="input input-bordered"
            placeholder="Delivery Day (1-31)"
            [(ngModel)]="deliveryDay"
            name="delivery"
            required
          />

          <div class="modal-action">
            <button type="submit" class="btn btn-primary">Subscribe</button>
            <button
              type="button"
              class="btn"
              (click)="subscribeModalRef.nativeElement.close()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </dialog>

    <div class="flex gap-4">
      <button
        class="btn"
        [ngClass]="isFavorite ? 'btn-error' : 'btn-ghost btn-accent'"
        (click)="toggleFavorite()"
        disabled
      >
        {{ isFavorite ? 'Remove from favorites' : 'Add to favorites' }}
        <i-lucide [img]="heartIcon" />
      </button>
    </div>

    <app-rating [rate]="3" />

    <ul class="list bg-base-100 rounded-box shadow-md hidden lg:block">
      <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
        Products in this bundle
      </li>

      @for (productQuantity of bundle.products; track $index) {
      <li class="list-row">
        <div>
          <div>{{productQuantity.product.name}}</div>
          <div class="text-xs uppercase font-semibold opacity-60">
            x {{productQuantity.quantity}}
          </div>
        </div>
        <button
          class="btn btn-ghost btn-circle"
          (click)="goToProduct(productQuantity.product.id)"
        >
          <i-lucide [img]="linkIcon" />
        </button>
        <app-rating [rate]="2.1" />
      </li>
      }
    </ul>

    <div class="hidden lg:block">
      <app-comments />
    </div>
  </div>

  
  <div class="w-full md:w-1/2 p-6">
    <img
      [src]="bundle.image_path"
      class="w-full object-cover rounded-xl"
      [alt]="bundle.name"
      #productImage
    />
  </div>
</div>

<ul class="list bg-base-100 rounded-box shadow-md lg:hidden">
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
    Products in this bundle
  </li>

  @for (productQuantity of bundle.products; track $index) {
  <li class="list-row">
    <div>
      <div>{{productQuantity.product.name}}</div>
      <div class="text-xs uppercase font-semibold opacity-60">
        x {{productQuantity.quantity}}
      </div>
    </div>
    <button class="btn btn-ghost btn-circle gap-2">
      <i-lucide [img]="linkIcon" />
    </button>
    <app-rating [rate]="2.2" />
  </li>
  }
</ul>

<div class="block lg:hidden p-6">
  <app-comments />
</div>
} -->



@if (bundle) {
<div class="flex flex-col-reverse md:flex-row items-start">
  <!-- Left Column -->
  <div class="w-full md:w-1/2 flex flex-col gap-4 p-6">
    <div class="flex gap-4 flex-wrap">
      <div class="badge badge-info">Paquete</div>
    </div>

    <h1 class="text-3xl">
      <strong>{{bundle.name}}</strong>
    </h1>

    <p>{{bundle.description}}</p>

    <div class="divider"></div>

    @if (bundle.discount_percent) {
    <div class="flex items-baseline gap-2">
      <h3 class="text-sm primary text-error line-through">
        {{ bundleTotalPrice | currency:'USD':'symbol':'1.2-2':'en-US' }}
      </h3>

      <h3 class="text-xl font-semibold text-primary">
        {{ discountedPrice | currency:'USD':'symbol':'1.2-2':'en-US' }}
      </h3>
    </div>
    } @else {
    <h3 class="text-xl font-semibold text-primary">
      {{ bundleTotalPrice | currency:'USD':'symbol':'1.2-2':'en-US' }}
    </h3>
    }

    <div class="flex gap-4">
      <button class="btn btn-secondary" >Comprar</button>
    </div>

    <div class="flex gap-4 mt-2">
      <button
        class="btn"
        [ngClass]="isFavorite ? 'btn-error' : 'btn-ghost btn-accent'"
        (click)="toggleFavorite()"
      >
        {{ isFavorite ? 'Quitar de favoritos' : 'Agregar a favoritos' }}
        <i-lucide [img]="heartIcon" />
      </button>
    </div>

    <app-rating [rate]="3"></app-rating>

    <ul class="list bg-base-100 rounded-box shadow-md hidden lg:block">
      <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
        Productos en este paquete
      </li>

      @for (productQuantity of bundle.products; track $index) {
      <li class="list-row">
        <div>
          <div>{{productQuantity.product.name}}</div>
          <div class="text-xs uppercase font-semibold opacity-60">
            x {{productQuantity.quantity}}
          </div>
        </div>
        <button
          class="btn btn-ghost btn-circle"
          (click)="goToProduct(productQuantity.product.id)"
        >
          <i-lucide [img]="linkIcon"></i-lucide>
        </button>
        <app-rating [rate]="productQuantity.product.averageRate"></app-rating>
      </li>
      }
    </ul>

    <div class="hidden lg:block">
      <app-comments></app-comments>
    </div>
  </div>

  <!-- Right Column -->
  <div class="w-full md:w-1/2 p-6">
    <img
      [src]="bundle.image_path"
      class="w-full object-cover rounded-xl"
      [alt]="bundle.name"
      #productImage
    />
  </div>
</div>

<!-- Mobile product list -->
<ul class="list bg-base-100 rounded-box shadow-md lg:hidden">
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
    Productos en este paquete
  </li>

  @for (productQuantity of bundle.products; track $index) {
  <li class="list-row">
    <div>
      <div>{{productQuantity.product.name}}</div>
      <div class="text-xs uppercase font-semibold opacity-60">
        x {{productQuantity.quantity}}
      </div>
    </div>
    <button class="btn btn-ghost btn-circle gap-2">
      <i-lucide [img]="linkIcon"></i-lucide>
    </button>
    <app-rating [rate]="productQuantity.product.averageRate"></app-rating>
  </li>
  }
</ul>

<div class="block lg:hidden p-6">
  <app-comments></app-comments>
</div>
}
