@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  --color-base-100: oklch(98% 0.031 120.757);
  --color-base-200: oklch(96% 0.067 122.328);
  --color-base-300: oklch(93% 0.127 124.321);
  --color-base-content: oklch(40% 0.101 131.063);
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(27% 0.046 192.524);
  --color-secondary: oklch(79% 0.209 151.711);
  --color-secondary-content: oklch(26% 0.065 152.934);
  --color-accent: oklch(76% 0.177 163.223);
  --color-accent-content: oklch(26% 0.051 172.552);
  --color-neutral: oklch(27% 0.072 132.109);
  --color-neutral-content: oklch(98% 0.031 120.757);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
